Port 2222
ListenAddress 0.0.0.0
HostKey /credentials/host
PidFile /tmp/sshd.pid
AuthorizedKeysFile /credentials/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
AuthenticationMethods publickey
UsePAM no
StrictModes yes
AllowUsers sangama
PermitRootLogin no
AllowTcpForwarding local
AllowStreamLocalForwarding no
PermitTunnel no
GatewayPorts no
AllowAgentForwarding no
X11Forwarding no
PermitTTY no
PermitUserRC no
MaxSessions 0
LoginGraceTime 15
MaxAuthTries 2
LogLevel ERROR
